* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.patient-OngoingTreatment-container {
    height: 84vh;
    max-height: 84vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

.patient-OngoingTreatment-container .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.patient-OngoingTreatment-container-false {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    color: #a5a5a5;
}

.patient-OngoingTreatment-container-false .msg-one {
    margin-top: 10px;
    font-size: 1.4rem;
}

.patient-OngoingTreatment-container-false .msg-two {
    font-size: 1.1rem;
}

.card-container .t_card-item {
    margin-bottom: 5px;
    display: flex;

}

.t_card-item .t_itemname {
    width: 9vw;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
}

.t_card-item .t_itemvalue {
    font-size: 0.9rem;
    font-weight: 400;
    color: #575757;
}

