.sub-custom-button {
    padding: 7px;
    font-size: 1rem;
    background-color:rgba(255, 110, 19, 0.973);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .sub-custom-button:hover {
      background-color: rgba(255, 110, 19, 0.741);
  }


  /* 148, 145, 144, 0.973 */