.sub-custom-button {
    padding: 5px;
    font-size: 1rem;
    background-color: #f1f1f1;
    color: rgb(20, 255, 67);
    border: none;
    border-radius: 15px;
    /* border: 2px solid rgb(32, 220, 36); */
    cursor: pointer;
  }
  
  .sub-custom-button:hover {
    color: rgb(9, 9, 9);
    background-color: rgba(175, 183, 175, 0.749);
  }


  /* 148, 145, 144, 0.973 */