.subtext-custom-button {
    padding: 7px;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    background-color:rgba(255, 178, 95, 1);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .subtext-custom-button:hover {
      background-color: rgba(255, 110, 19, 0.741);
  }