* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.patientsoverview {
    display: flex;
    gap: 20px;
}

.leftside .searchbar label {
    margin-left: 15px;
    font-size: 1rem;
    font-weight: 500;
}

.searchbar-input-wrapper {
    position: relative;
  }
  
  .search-input {
    padding-right: 35px; 
    padding-left: 10px;
    border-radius: 5px;
    width: 24vw;
    height: 5vh;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
  }

  .searchbar-input-button input::placeholder {
    font-size: 14px; 
    color: #999;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
    cursor: pointer;
  }

.leftside .searchbar .searchbar-input-button {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.rightside .title {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.leftside .title {
    font-size: 1.1rem;
    font-weight: 500;
}

.leftside .header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 4px 2px 4px;
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgba(16, 110, 9, 0.878);
    background-color: #00e676;
}

.leftside .header .name,
.leftside .patient-list .name {
    width: 20vw;
}

.leftside .header .contact,
.leftside .patient-list .contact {
    width: 10vw;
}

.leftside .patient-list-container {
    display: flex;
    flex-direction: column;
}

.leftside .patient-list {
    margin-bottom: 5px;
    padding: 2px 0 2px 4px;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    background-color: #f1f1f1;
}

.leftside .header .view-button{
    padding-right: 12px;
    width: 7vw;
    display: flex;
    justify-content: right;
}
.leftside .patient-list-container .patient-list .view-button {
    width: 7vw;
    display: flex;
    justify-content: right;
}

.rightside .isSelectPatient-false {
    width: 37vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
}

.rightside .isSelectPatient-false .noteone {
    font-size: 1.5rem;
}

.rightside .isSelect-Patient-true {
    position: relative;
    max-height: 95%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.add-treatment-plan-button {
    position: sticky;
    bottom: 0;
    padding: 10px 0 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.822)
}

.add-treatment-plan-button .wraning-note {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #006735;
    font-size: 0.9rem;
}

.isSelect-Patient-true .s_title {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #7b7b7b;
}

.isSelect-Patient-true .s_item-container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 10px 8px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.isSelect-Patient-true .s_item-container .s_item {
    display: flex;
}

.isSelect-Patient-true .s_item-container .s_item .s_name {
    width: 6vw;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.isSelect-Patient-true .s_item-container .s_item .s_value {
    font-size: 1rem;
    font-weight: 400;
    color: #575757;
}

.isSelect-Patient-true .hia_item-container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 5px 4px 10px;
    height: 25vh;
    min-height: 24vh;
    max-height: 24vh;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.hia_item-container .hia_item-true {
    margin-left: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: #272727;
}

.hia_item-container .hia_item-false {
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: #777777;
}

.isSelect-Patient-true .ss_title {
    margin: 16px 0 20px 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #7b7b7b;
}

.hia_item-container .hia_item-true-header {
    padding-bottom: 5px;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    border-radius: 5px;
    border-bottom:3px solid #00e676;
}

.hia_item-container .hia_item-true-vlues {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: #575757;
}

.hia_item-true-header .hia_item-name,
.hia_item-true-header .hia_item-diagnosis {
    width: 257px;
    padding-left: 25px;
}

.hia_item-true-header .hia_item-contact {
    padding-left: 14px;
}

.hia_item-true-header .hia_item-date,
.hia_item-true-vlues .hia_item-date{
    width: 100px;
}

.hia_item-true-header .hia_item-evaluate-date,
.hia_item-true-vlues .hia_item-evaluate-date {
    width: 200px;
}

.hia_item-true-vlues .hia_item-name,
.hia_item-true-vlues .hia_item-diagnosis {
    width: 250px;
    padding-left: 8px;
}

.hia_item-true-vlues .hia_item-issue {
    padding-left: 8px;
}

.hia_item-true-header .hia_item-relation {
    width: 150px;
    padding-left: 14px;
}

.hia_item-true-vlues .hia_item-relation {
    width: 150px;
}

.isSelect-Patient-true .View-medical-history-button {
    margin-left: 12px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* treatment popup */

.popup-title .title-closebutton {
    display: flex;
    justify-content: left;
    align-items: center;
}

.datereange-group-item {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.datereange-group-item .header-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.header-group-item .itemname-d {
    margin-right: 5px;
}

.treatment-details .details-group-one {
    width: 100%;
    margin-right: 20px;
    margin-left: 10px;
}

.details-group-one .group-item {
    margin-bottom: 5px;
    display: flex;
    font-size: 0.9rem;
}

.details-group-one .group-item-des{
    height: 5vh;
    max-height: 5vh;
    overflow-y: auto;
    margin-bottom: 5px;
    display: flex;
    font-size: 0.9rem;
}

.header-group-item .t-itemname{
    margin-right: 4px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #333;
}

.header-group-item .itemname,
.group-item .itemname,
.group-item-des .itemname {
    width: 10vw;
    font-weight: 500;
    color: #333;
}

.header-group-item .t-itemvalue{
    padding: 0 2px 0 2px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 5px;
    color: #575757;
    background-color: #d6d6d6;
}

.header-group-item .itemvalue,
.details-group-one .group-item .itemvalue,
.group-item-des .itemvalue {
    font-size: 1rem;
    font-weight: 400;
    color: #575757;
}

.popup .treatment-details {
    margin-top: 30px;
    display: flex;
}

.popup .treatment-shedule {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.treatment-shedule .shedule-header {
    padding-left: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.treatment-shedule .shedule-container {
    /* height: 46vh;
    max-height: 46vh; */
    margin-top: 10px;
    border-radius: 10px;
}

.shedule-container .scontainer-header {
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
    color: #000000;
    border-bottom: 3px solid rgba(16, 110, 9, 0.878);
    background-color: #00e676;
}

.scontainer-header .drugname {
    width: 30%;
}

.scontainer-header .time {
    width: 25%;
}

.scontainer-header .tap-cap {
    width: 15%;
    display: flex;
    justify-content: center;
}

.scontainer-header .hourly{
    width: 15%;
    display: flex;
    justify-content: center;
}

.shedule-container .scontainer-scrollable {
    max-height: 310px;
    overflow-y: auto;
}

.scontainer-scrollable .scontainer-values {
    margin-top: 8px;
    padding-left: 10px;
    display: flex;
    background-color: #f1f1f1;
}

.v-drugname {
    width: 20vw;
}

.v-time {
    width: 17vw;
    display: flex;
}

.v-time .timetab {
    margin: 1px;
    padding: 4px 10px 5px 10px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 10px;
}

.v-tap-cap {
    width: 10vw;
    display: flex;
    justify-content: center;
}

.v-hourly {
    width: 10vw;
    display: flex;
    justify-content: center;
}

.v-meals {
    width: 9vw;
    display: flex;
    justify-content: center;
}

.v-meals .mealtab {
    padding: 4px 10px 5px 10px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 10px;
}

.werning-message {
    padding: 5px 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    background-color: #ffacac;
}

.werning-message .w-msg {
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #970000;
}

.reason-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

.reason-container label {
    margin-left: 10px;
    font-size: 0.9rem;
}

.addmh-container {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addmh-container input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.addmh-container .addmh-note {
    margin-left: 10px;
    font-size: 0.9rem;
}

.ct-button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkup-popup-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.checkuplist-container .checkuplist-header {
    padding: 5px 10px 5px 10px;
    width: 33vw;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
    color: #000000;
    border-bottom: 3px solid rgba(16, 110, 9, 0.878);
    background-color: #00e676;
}

.checkuplist-header .testname {
    width: 20vw;
}

.checkuplist-header .evaluation {
    width: 8vw;
}

.checkuplist-container .checkuplist .checkup {
    margin: 5px 0;
    padding: 5px 10px 5px 10px;
    display: flex;
    background-color: #f1f1f1;
}

.checkuplist-container .checkuplist .checkup .testname {
    width: 20vw;
}

.checkuplist-container .checkuplist .checkup .evaluation {
    width: 8vw;
}

.checkup-feedback-form {
    width: 32vw;
    height: 66vh;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.checkup-feedback-form-false {
    width: 32vw;
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #999;
    background-color: #f1f1f1;
}

.checkup-feedback-form .checkup-feedback-evaluated {
    width: 32vw;
    height: 66vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #3a3a3a;
    background-color: rgb(196, 255, 196);
}
 
.checkup-feedback-form .feedback-form-title {
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
    color: #000000;
}

.feedback-content {
    margin-left: 15px;
}

.feedback-content .feedback_item {
    padding: 10px;
    display: flex;
}

.feedback_note .f_name,
.feedback_item .f_name {
    width: 7vw;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.feedback_item .f_value {
    font-size: 1rem;
    font-weight: 400;
    color: #575757;
}

.feedback_item .status_value {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.status_value .positive {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #575757;
}

.status_value .negative {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #575757;
}

.feedback-content .feedback_note {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.feedback_note textarea {
    width: 29vw;
    height: 20vh;
}

.feedback-content .feedback_button {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.treatmentclose-false {
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ffacac;
}

.treatmentclose-false .treatmentclose-false-note{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #970000;
}

/* treatment form */
.popup .scrollable input[type="text"],
.popup .scrollable input[type="date"],
.popup .scrollable textarea {
    font-size:15px;
    color: #000000;
}

.popup .header-title {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
}  

.popup .title-closebutton{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.scrollable {
    max-height: 78vh;
    overflow-y: auto;
    padding-top: 2%;
    padding-left: 2%;
}

.popup .scrollable .form {
    display: flex;
    flex-direction: column;
}

.popup .scrollable .form .doctor-info{
    margin-left: 20px;
    margin-bottom: 2%;
    font-size: 1.1rem;
    font-weight: 500;
}

.popup .scrollable .form .form-part-one,
.popup .scrollable .form .form-part-Two {
    
    margin-right: 20px;
    padding: 5px 0 10px 18px;
    background-color:  rgba(255, 255, 255, 0.095);
}

.popup .scrollable .form .form-part-one .part-content {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.card-container .card-item {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.card-item .itemname {
    font-weight: 500;
    color: #333;
}

.card-item .itemvalue {
    font-size: 1rem;
    font-weight: 400;
    color: #575757;
}

.card-container .card-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-content .part-item {
    display: flex;
    flex-direction: column;
}

.parttwo-treatmetdates .treatmetdates-item {
    width: 31%;
    display: flex;
    flex-direction: column;
}

.part-content .part-item label,
.parttwo-treatmetdates .treatmetdates-item label {
    margin-left: 10px;
    font-size: 0.8rem;
    color: #2b2b2b;
}

.parttwo-treatmetdates .treatmetdates-item input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup .scrollable .form .break-line {
    margin: 20px 3% 20px 0;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(126, 126, 126, 0.815);
}

.form .hospital-info {
    margin-top: 40px
}

.form .form-submitbutton{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.form-part-two .parttwo-content {
    display: flex;
    flex-direction: column; 
}

.parttwo-content .parttwo-item {
    margin: 1% 3% 2% 0;
    display: flex;
    flex-direction: column;
}

.parttwo-content .parttwo-item label {
    margin-left: 10px;
    font-size: 0.8rem;
    color: #2b2b2b;
}

.parttwo-content .parttwo-item textarea[type="text"] {
   
    height: 10vh;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
} 

.parttwo-content .parttwo-prescription,
.parttwo-content .parttwo-treatmentplan {
    margin: 30px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.parttwo-content .parttwo-medicalcheckup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.parttwo-medicalcheckup .medical-checkup-content {
    margin: 0 3% 0 0 ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.medical-checkup-content .content-header {
    padding: 3px 20px 3px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    border-bottom: 2px solid rgba(16, 110, 9, 0.878);
    background-color:  #00e676;
}

.medical-checkup-content .content-list .content-item{
    padding: 3px 20px 3px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    font-size: 0.9rem;
}

.parttwo-treatmetdates {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.treatmet-content {
    margin: 20px 3% 0 0 ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.treatmet-content .treatmetcontent-header {
    padding: 3px 0px 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 5px;
    border-bottom: 3px solid rgba(16, 110, 9, 0.878);
    background-color: #00e676;
}

.treatmet-content .treatmetcontent-list .treatmetcontent-values {
    margin-bottom: 2px;
    display: flex;
    font-size: 0.9rem;
}

.treatmetcontent-header .test-drugName,
.treatmetcontent-values .test-drugName {
    width: 29%;
}

.treatmetcontent-header .test-times,
.treatmetcontent-values .test-times {
    width: 40%;
}

.treatmetcontent-header .test-dosage,
.treatmetcontent-values .test-dosage {
    width: 9%;
}

.treatmetcontent-header .test-hourly,
.treatmetcontent-values .test-hourly {
    width: 9%;
}

.addcheckup-form,
.addtreatment-form {
    margin: 1% 3% 2% 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.addcheckup-form .addcheckup-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.addcheckup-content .addcheckup-item,
.addcheckup-content .addcheckup-date {
    margin-left: 5px;
    width: 46%;
    display: flex;
    flex-direction: column;
}

.addcheckup-item label,
.addtreatment-item label{
    margin-left: 10px;
    font-size: 0.8rem;
    color: #000000;
}

.addcheckup-date label {
    margin-left: 85px;
    font-size: 0.8rem;
    color: #000000;
}

.addcheckup-item input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addcheckup-date input[type="date"] {
    padding: 10px;
    margin-left: 76px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addcheckup-form .addcheckup-button,
.addtreatment-form .addtreatment-button {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 20px;
}

.addtreatment-form .addtreatment-content {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.addtreatment-form .druginfo {
    margin: 10px;
}

.addtreatment-content .addtreatment-item {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.addtreatment-item input[type="date"],
.addtreatment-item input[type="text"] {
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addtreatment-item .checkbox-group {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addtreatment-item .checkbox-group .checkbox-item {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: left;
    font-size: 0.9rem;
}
  
.hospital-info .form-part-Two .selectclinic-button {
    margin-bottom: 20px;
}

.hospital-info .addtreatment-form .clinic-list {
    padding: 10px;
    font-size: 0.8rem;
    max-height: 100px;
    overflow-y: auto;
}

.hospital-info .addtreatment-form .clinic-list .workat {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

/* medical history */

.select-type-history {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dmh-filter {
    display: flex;
    justify-content: right;
}

.medicalhistory-container {
    margin-top: 15px;
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
}

.medicalhistory-container-false {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #7c7c7c;
    background-color: #f1f1f1;
}

.dmh-info-container {
    display: flex;
    gap: 10px;
}

.dmh-info-container .doctor-info {
    padding: 20px;
    width: 20vw;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(195, 255, 180);
}

.dmh-info-container .treatment-info {
    padding: 20px;
    width: 46.5vw;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(180, 235, 255);
}

.dmh-info-container .checkups-info {
    padding: 20px;
    width: 25vw;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 245, 180);
}