* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.side-nav {
    width: 240px;
    background-color: #f5f5f5;
    height: 100vh;
    position: fixed;
  }

.side-nav .logo {
   padding: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}
  
  .side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  } 
  
  .side-nav li {
    padding: 3px 0;
  } 

  .side-nav li a {
    display: flex;
    align-items: center; 
    justify-content: start;
    padding: 10px 20px;
    text-decoration: none;
    color: #3b3a30;
  } 
  
  .side-nav li a:hover {
    background-color: rgba(255, 146, 146, 0.61);
    color: #000000;
  }

  .side-nav li .icon {
    display: flex;  
    align-items: center;  
    justify-content: center; 
    margin-right: 10px;
  }

  .side-nav .item-name {
    font-size: 16px;
    color: #333;
  }
  
  .active {
    color: #007bff;
  }

  .side-nav .logout {
    margin-top: 70%;
  }
 