.mainheader {
    position: fixed;
    top: 0;
    left: 240px;
    width: calc(100% - 240px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
  }

.mainheader-left h2 {
    margin: 0;
    font-size: 1.3rem;
    color: #333;
  }
  
  .mainheader-right {
    display: flex;
    align-items: center;
  }

  .username {
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .profile-pic {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(126, 126, 126);
    margin-left: 10px;
    background-color: #bebebea6;
  }
  
  .notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
  }

  .unread-count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 30px;
    border-radius: 50%;
    padding: 0px 7px 1px 7px;
    font-size: 1rem;
    font-weight: 500;
    background-color: red;
    color: white;
  }